.newcollections{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 25px;
    margin-bottom: 81px;
}

.newcollections h1{
    color: #171717;
    font-size: 42px;
    font-weight: 600;
}

.newcollections hr{
    width: 150px;
    border: 2px solid red;
    border-radius: 10px;
}

.collections{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
    gap: 40px;
}

@media (max-width: 1280px)
{
    .newcollections h1{
        font-size: 38px;
    }
    .newcollections hr{
        width: 120px;
    }
    .collections{
        gap: 20px;
        margin-top: 30px;
    }
}

@media (max-width: 1024px)
{
    .collections .item-prices .item-price-new{
        font-size: 13px;
    }
    .newcollections h1{
        font-size: 30px;
    }
    .newcollections hr{
        width: 100px;
        border: 1.75px solid red;
    }
    .collections{
        gap:  15px;
        margin-top: 20px;
    }
}

@media (max-width: 800px)
{
    .newcollections{
        gap: 6px;
    }
    .newcollections h1{
        font-size: 22px;
    }
    .newcollections hr{
        border: 1.75px solid red;
        width: 80px;
    }
    .collections{
        gap: 5px;
    }
}

@media (max-width: 542px)
{
    .collections img
    {
        width: 140px;
        /* width: 0px; */
    }
    .collections .item-prices .item-price-new{
        font-size: 12px;
    }
    .collections{
        font-size: 8px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
    }
}