.shopcategory-banner{
    /* border: 2px solid black; */
    display: block;
    margin-top: 30px;
    width: 90%;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.shopcategory-indexSort{
    display: flex;
    margin: 0px 120px;
    justify-content: space-between;
    align-items: center;
}

.shopcategory-sort{
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid #888;
}

.shopcategory-indexSort p span{
    font-weight: 600;
}

.shopcategory-products{
    margin: 20px 120px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    margin-bottom: 100px;
}

.shopcategory-loadmore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 90px auto;
    width: 200px;
    height: 59px;
    border-radius: 75px;
    background: #ededed;
    color: #787878;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

@media (max-width:1280px)
{
    .shopcategory-indexSort{
        width: 90%;
        margin: auto;
    }
    .shopcategory-sort{
        padding: 5px 10px;
        font-size: 12px;
    }
    .shopcategory-indexSort p{
        font-size: 12px;
    }
    .shopcategory-products{
        width: 90%;
        margin: 10px auto;
        row-gap: 20px;
    }
    .shopcategory-products .item{
        margin: auto;
    }
    .shopcategory-loadmore{
        margin: 80px auto;
        width: 180px;
        height: 49px;
        font-size: 16px;
    }
}

@media (max-width:800px)
{
    .shopcategory-products{
        grid-template-columns: 1fr 1fr 1fr;
        width: 95%;
    }
    .shopcategory-products .item img{
        width: 135px;
    }
    .shopcategory-loadmore{
        margin: 60px auto;
        width: 150px;
        height: 40px;
        font-size: 13px;
    }
}

@media (max-width:500px)
{
    .shopcategory-products{
        grid-template-columns: 1fr 1fr;
    }
    .shopcategory-loadmore{
        margin: 60px auto;
        width: 150px;
        height: 40px;
        font-size: 13px;
    }
}